.menu {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.mobile-menu {
  display: flex;
  flex-direction: column;

  .menu-items {
    margin: 5px 0;
  }
}

.menu-items {
  &:hover {
    font-weight: bold;
    cursor: pointer;
  }

  &.active {
    color: #61dafb;
    font-weight: bold;
  }
}

.menu,
.mobile-menu {
  a {
    color: #000;
    text-decoration: none;
  }
}