@import 'MainPage/Languages.scss';
@import 'Pages/Menu.scss';
@import 'Pages/experiences.scss';

@font-face {
  font-family: "cinzel";
  src: local('cinzel'),
    url("./assets/fonts/cinzel/Cinzel-Regular.otf") format("truetype");
}

@font-face {
  font-family: "cinzel-bold";
  src: local('cinzel-bold'),
    url("./assets/fonts/cinzel/Cinzel-Bold.otf") format("truetype");
}

header h2 {
  font-family: cinzel-bold;
  margin-top: 0;
  font-size: 1.8rem
}

header h1 {
  font-size: 1.8rem;
}

body {
  background-color: rgb(71, 120, 153);
  margin: 0;
  color: #fff;
  font-family: 'cinzel';
}

.social-icons {
  a {
    margin: 0 0.5em;
  }

  .github:hover {
    color: #FFD43B;
  }

  .linkedin:hover {
    color: #A91401;
  }

  .cv:hover {
    color: rgb(97, 218, 251);
  }
}

footer {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

footer a {
  color: #fff
}

.button-like {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.languages {
  font-size: 1.2em;
}

.languages span:hover {
  font-weight: bold;
}

.social-icons,
.description,
.languages {
  margin-top: 50px;
}

.normal-content {
  font-family: 'Courier New', Courier, monospace;
}

